/* 1. Regular */
@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 2. Regular Italic */
@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic; /* <--- Tells the app this file is italic */
}

/* 3. Bold */
@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 4. Bold Italic */
@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;    /* <--- Tells the app this file is bold */
  font-style: italic;  /* <--- Tells the app this file is italic */
}

:root {
  --primary-bg: #211F24;
  --container-bg: #302E32;
  --note-hover-bg: #444147;
  --primary-font: #FEFDFF;
  --secondary-font: #D8DBDE;
  --primary-icon: #6d6971;
  --hover-icon: #302E32;
  --hover-close-bg: #F43F5D;
  --hover-settings-bg: #CA3FF4;
  --hover-add-bg: #F4A03F;
  --hsl-header-hue: 286;
  --hsl-header-saturation: 89%;
  --hsl-header-lightness: 60%;
  --hsl-header: hsl(var(--hsl-header-hue), var(--hsl-header-saturation), var(--hsl-header-lightness));
  --hsl-icon: hsl(mod(calc((var(--hsl-header-hue) + 180)), 360), 10%, 25%);
  --hsl-header-opp: hsl(mod(calc((var(--hsl-header-hue) + 180)), 360), 89%, 60%)
}